#Control_ListItems_ArchivedItems {
  width: 50%;
}

#Section_ListItems_Buttons {
  width: 50%;
}

.Section_ListItems_Buttons{
  display: block;
}

#Group_ListItems .controls {
  display: flex;
}

#Control_ListItems_ArchivedItems {
  flex: 0 0 60%;
}

#Section_ListItems_Buttons {
  flex: 1 1 30%;
}

#Section_ListItems_Buttons * * {
  width: 100%;
  height: 2.5em;
  margin: 0.25em 0.5em;
}

#Group_GlobalControls .controls {
  display: block;
}
