#Section_AddItem_ItemSettings {
  flex: 1 1 60%;
}

#Section_AddItem_ItemSettings * {
  padding-bottom: 0.5em;
}

#Section_AddItem_ItemSettings control label {
  display: inline-block;
    width: 40%;
}

#Control_ItemSettings_Exclusion input {
  width: 55%;
}

#Section_AddItem_ExitButtons {
  flex: 0 0 30%;
  padding: 0 0.5em;
  margin-top: -0.1em;
}

#Section_AddItem_ExitButtons control input {
  width: 100%;
  height: 3.5em;
}
