html {
  overflow-x: hidden;
}

page {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  opacity: 0;
  transition-property: transform, opacity;
  transition-timing-function: cubic-bezier(0,1,1,1);
  transition-duration: 0.5s;
}

.current-page {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(0);
  opacity: 100%;
}

.invalid-item {
  transition: translate 0.25s linear;
  animation: invalid-ani 0.25s 4;
}

@keyframes invalid-ani {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-1em);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(1em);
  }

  100% {
    transform: translateX(0);
  }
}
