#Page_Main {
  display: grid;
  grid-template-rows: 8rem auto 6rem;
}

#Control_ListItems_ArchivedItems {
  width: 50%;
}

#Section_ListItems_Buttons {
  width: 50%;
}

.Section_ListItems_Buttons {
  display: block;
}

#Group_ListItems {
  max-width: 40%;
}

#Group_ListItems .controls {
  display: flex;
}

#Control_ListItems_ArchivedItems {
  flex: 0 0 70%;
  display: block;
}

#List_ListItems_ArchivedItems {
  height: 16rem;
  overflow-y: scroll;
}

#Section_ListItems_Buttons {
  flex: 0 1 40%;
  margin-left: 0.5em;
}

#Section_ListItems_Buttons * * {
  width: 100%;
  height: 4.5em;
}

#Group_GlobalControls .controls {
  display: block;
}

#Control_FileSettings_SavePath,
#Control_GlobalControls_Password,
#Control_GlobalControls_Destination,
#Control_GlobalControls_CompressionLevel,
#Control_GlobalControls_CompressionMethod,
#Control_GlobalControls_FileType {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Control_GlobalControls_Password label,
#Control_GlobalControls_CompressionLevel label,
#Control_GlobalControls_CompressionMethod label,
#Control_GlobalControls_FileType label {
  flex: 1 0 60%;
}

#Control_GlobalControls_Password select,
#Control_GlobalControls_CompressionLevel select,
#Control_GlobalControls_CompressionMethod select,
#Control_GlobalControls_FileType select {
  flex: 0 1 50%;
}

#Control_GlobalControls_Destination label, #Control_GlobalControls_Destination input[type=text],
#Control_FileSettings_SavePath label, #Control_FileSettings_SavePath input[type=text] {
  margin-right: 0.5em;
}

#Control_GlobalControls_Destination label, #Control_FileSettings_SavePath label {
  flex: 1 1 10rem;
}

#Section_Functions * {
  width: 100%;
}

#Button_GlobalControls_ApplyGlobals, #Button_Archiving_CreateScript {
  width: 100%;
  height: 4.5em;
}
